.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.dk{
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
header {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4em;
  height: 100%;
  color: #33495e;
  font-family: "Dancing Script", cursive;
  top: 0;
  z-index: 1000;
}

.logo {
  float: left;
  font-size: 2em;
  font-weight: 800;
}


ul {
  list-style: none;
  margin-right: 14em;
  justify-content: center;
  align-items: center;
  gap: 0 1.5em;
  list-style: none;
  padding: 0;
  display: flex;
}

li a {
  color:#33495e;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

li a :hover{
 border-bottom: 0.1em solid #c5a880;
}
.field-search{
display: flex;
justify-content: center;
align-items: center;
gap:0 0.3em;
}
.field-search input{
border-radius: 1em;
padding: 0.3em 1em;
border: 0.2em solid #c5a880;
}
.field-search img{
margin-top: 0.2em;
cursor: pointer;
background: #c5a880;
border-radius: 0.3em;
}
header::after {
  content: '';
  display: block;
  clear: both;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
font-family: Inter, sans-serif;
height:100%;
justify-content: center;
align-items: center;
background: linear-gradient( #ececec, #c5a880);
}

img {
width: 100%;
height: 100%;
display: block;
}

.imgs{
    display: flex;
    width: 150px;
    height: 500px;
    margin: 20px 0;

}
.products {
    padding: 50px 0;
    background-color: linear-gradient( #ececec, #c5a880);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.product-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    
}

.product-item h3 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #333;
}

.product-item p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #666;
}
